@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;  
  
  /* Earth-tone color scheme for light mode */
  --color-primary: oklch(37.1% 0 0);
  --color-primary-dark: oklch(20.463% 0.00002 271.152); /* green-600 */
  --color-secondary: oklch(38.8% 0.158 241.966);
  --color-secondary-dark: #5e7719;
  --color-link: oklch(58.8% 0.158 241.966);
  --color-hover-link: oklch(50% 0.134 242.749);
  --color-accent: #1a2705; /* green-600 */
  --color-background: #ffffff; /* white */
  --color-surface: #f9fafb; /* gray-50 */
  --color-text: #111827; /* gray-900 */
  --color-text-secondary: #6b7280; /* gray-500 */
  --color-text-secondary-light: #f9fafbd8; /* gray-500 */

  --color-text-light: #f9fafb;
} 

/**
To reference these colors, use tailwinds prefixes, e.g. bg- or text- and the name excluding --color. For example: bg-primary or text-secondary
*/
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-link: var(--color-link);
  --color-link-hover: var(--color-hover-link);
  /* Custom earth-tone colors */
  --color-secondary: var(--color-accent);
  --color-secondary-dark: var(--color-secondary-dark);
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-accent: var(--color-accent);
  --color-surface: var(--color-surface);
  --color-text: var(--color-text);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-light: var(--color-text-light);
  --color-text-secondary-light: var(--color-text-secondary-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
    /* Earth-tone color scheme for dark mode */
    --color-primary: #4ade80; /* green-400 */
    --color-primary-dark: #22c55e; /* green-500 */
    --color-secondary: #c4b5fd; /* purple-300 */
    --color-accent: #fbbf24; /* amber-400 */
    --color-background: #111827; /* gray-900 */
    --color-surface: #1f2937; /* gray-800 */
    --color-text: #f3f4f6; /* gray-100 */
    --color-text-secondary: #9ca3af; /* gray-400 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* 1. Using the @apply directive in your CSS:
This method allows you to create a custom CSS class that encapsulates a set of Tailwind utility classes. You can then apply this single custom class to all your input elements. 
Should do this for common styles (input tags) ect.
*/

.link {
  @apply hover:text-link-hover text-text dark:hover:text-blue-400 hover:underline
}

.button-basic {
  @apply bg-link text-white py-2 px-3 rounded-md font-medium hover:bg-link-hover transition-colors disabled:opacity-50 disabled:cursor-not-allowed
}

.basic-a-link {
 @apply text-link hover:underline
}